body{
  margin: 0px;
  background-color: #fff;
  color: #212121;
  font-family: 'Open Sans', Roboto;
}
header{
  display: inline-flex;
  background-color: #1976d2;
  color: #fff;
}

header img{
  width: 20%;
}

footer{
  margin-top: 10%;
  background-color: #1976d2;
  color: #fff;
  text-align: center;
}

footer p{
  margin: 0px;
  padding: 5%;
}

.titulo{
  height: 100%;
  width: 60%;
  margin: 0px;
  padding: 5%;
  text-align: center;
}

.contenido{
  padding-left: 10%;
  padding-right: 10%;
}

.formulario{
  background-color: #212121;
  color: #ffffff;
  margin: 5%;
  padding: 5%;
  border-radius: 25px;
  text-align: center;
}

button[name='consultar']{
  margin-top: 5%;
}

#reintentar{
  display: none;
}

#resultados a{
  margin: 1%;
}

/* Moviles en horizontal o tablets en vertical */
@media (min-width: 768px){
  footer{
    margin-top: 100%;
  }

  footer p{
    padding: 5%;
  }

  .titulo{
    padding: 3%;
    text-align: left;
  }

  .contenido{
    padding-left: 5%;
    padding-right: 5%;
  }

  .formulario{
    padding: 3%;
    margin: 3%;
  }
}
/* Tablets en horizontal y escritorios normales */
@media (min-width: 1024){

}

/* Escritorios muy amplios */
@media (min-width: 1200px){

}
